
/*  Ticket Dropzone */
.dropzone {
    height: 60px !important;
    min-height: 50px !important;
    border-radius: 6px;
  
    .dz-message {
        text-align: center;
        padding: 0px;
    }
  }